# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
__pycache__/

ParticleViz_WebApp/node_modules/
ParticleViz_WebApp/particleviz/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# oz
.idea
*.swp
lib
ParticleViz_WebApp/data/
ParticleViz_WebApp/public/1
ParticleViz_WebApp/public/2
ParticleViz_WebApp/public/3
ParticleViz_WebApp/public/4
ParticleViz_WebApp/public/5
ParticleViz_WebApp/public/6
ParticleViz_WebApp/public/7
ParticleViz_WebApp/public/8
ParticleViz_WebApp/public/data
ParticleViz_WebApp/build
/Current_Config.json
/ParticleViz_WebApp/package-lock.json
/ConfigExamples/Config_Test.json
/ConfigExamples/Config_GlobalLitterComplete.json
/ConfigExamples/Config_Blue_HackBK.json
/ConfigExamples/Config_Blue_Hack.json
/ParticleViz_WebApp/BK.json
/ParticleViz_WebApp/src/Config.json
