/* ---------------- Changing how scrollbars look */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* must be defined for ol 6 */
#map {
    height: 100%;
    width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9cb1b2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #67b4b7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #316366;
}

.my_round {
  border-bottom: calc(0.3rem - 1px);
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  border-bottom-right-radius: calc(0.3rem - 1px);
}

.pv-flipped{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.pv-palette{
  position: absolute;
  top: 1%;
  z-index: 101;
  pointer-events: none;
  display: none;
  text-align: center;
}

/*Window for particle color selection*/
.pv-pcolor{
  z-index: 101;
  top:70px;
  width:225px;
  position: absolute;
  background-color: red;
  display: none;
}

.pv-title{
  z-index: 100;
  position: absolute;
  width: 100%;
}

.pv-layerslistcontainer{
  z-index: 101;
  left:0%;
  top:70px;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 98%;
  font-size: 12px;
}

.pv-layerslist{
  list-style: None;
  padding-left: 0;
}

@media(max-width: 767px){
  h5 {
    font-size: 1.0rem;
  }
  h6 {
    font-size: 0.8rem;
  }
  .wl_statsplot{
    height: 547px;
  }
}

@media(max-width: 768px){
  #main-title{
    display: none;
  }
  #intro_text {
    top: 35%;
  }
  .pv-palette{
      left: 5%;
  }
}

@media(min-width: 768px){
  #intro_text {
    top: 150px;

  }
  .pv-palette{
    left: 20%;
  }
}

@media(min-width: 1200px){
  .pv-title{
    top: 55px;
    width: 100%;
  }
  #main-title{
    display: block;
  }
  #intro_text {
    top: 150px;
  }
}

.control {
  /*position: absolute;*/
  background-color: white;
  top: 0;
  z-index: 103;
  width: 100%;
  height: 50px;
  opacity: .95;
}

#intro_text{
  z-index: 103;
  position: absolute;
  /*display: none;*/
}

.viz-control{
  max-width: 100px;
}

.anim-controls{
  width: 10em
}

@media(max-width: 992px){
  .range-ml{
    max-width: 100px;
  }
  .anim-controls{
    width: 6em
  }
}

@media(max-width: 1300px) and (min-width: 992px){
    .logos{
      min-width: 160px;
      text-align: center;
    }
    /*.anim-controls{*/
    /*    margin-left: 100px;*/
    /*}*/
  .range-ml{
      /*position: absolute;*/
      /*bottom: 50%;*/
      /*left: 40%;*/
        max-width: 50px;
  }
}

@media(min-width: 1400px){
  .range-ml{
    max-width: 200px;
  }
  .viz-control{
    max-width: 100%;
  }
}
