.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.my_round {
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.wl_popup{
  position: absolute;
  bottom: 0%;
  height: 260px;
  z-index: 102;
  width: 100%;
  opacity: 1;
  display: none;
}

.wl-palette{
  position: absolute;
  left: 5%;
  bottom: 1%;
  z-index: 101;
  pointer-events: none;
  display: none;
  text-align: center;
}

.wl-palette-canvas{
  border-radius: 5px 5px;
  background-color: black;
}

.palette_img{
  height: 80%;
  margin-bottom: 10px;
}

@media(max-width: 768px){
  #big-title{
    display: none;
  }
}

@media(max-width: 767px){
  .wl_popup{
    height: 447px;
  }
}

@media(min-width: 768px){
  .wl-title{
    top: 65px;
  }
  #big-title{
    display: block;
  }
}

.control {
  /*position: absolute;*/
  background-color: white;
  top: 0;
  z-index: 103;
  width: 100%;
  height: 50px;
  opacity: .95;
}

.wl-title{
  z-index: 102;
  position: absolute;
  width: 100%;
}

.wl-main-title{
  /*top: 30px;*/
  z-index: 102;
  position: absolute;
  width: 100%;
}

.range-ml{
  max-width: 70px;
}
