.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.my_round {
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.stats_plot{
  position: absolute;
  background-color: aliceblue;
  bottom: 0;
  z-index: 102;
  width: 100%;
  opacity: .8;
}

.control {
  /*position: absolute;*/
  background-color: white;
  top: 0;
  z-index: 103;
  width: 100%;
  height: 50px;
  opacity: .95;
}

.wl-title{
  /*top: 30px;*/
  z-index: 102;
  position: absolute;
  width: 100%;
}
