.my_round {
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.wl_statsplot{
  position: absolute;
  bottom: 0%;
  height: 280px;
  z-index: 102;
  width: 100%;
  opacity: 1;
  display: none;
}

.wl-palette{
  position: absolute;
  left: 5%;
  bottom: 1%;
  z-index: 101;
  pointer-events: none;
  display: none;
  text-align: center;
}

.wl-palette-canvas{
  border-radius: 5px 5px;
  background-color: black;
}

.palette_img{
  height: 80%;
  margin-bottom: 10px;
}

@media(max-width: 767px){
  h5 {
    font-size: 1.0rem;
  }
  h6 {
    font-size: 0.8rem;
  }
  .wl_statsplot{
    height: 547px;
  }
}


.wl-title{
  z-index: 102;
  position: absolute;
  width: 100%;
}


@media(max-width: 768px){
  #main-title{
    display: none;
  }
}


@media(min-width: 768px){
  .wl-title{
    top: 65px;
    width: 100%;
  }
  #main-title{
    display: block;
  }
}

.control {
  /*position: absolute;*/
  background-color: white;
  top: 0;
  z-index: 103;
  width: 100%;
  height: 50px;
  opacity: .95;
}

#intro_text{
  top: 130px;
  z-index: 103;
  position: absolute;
  /*display: none;*/
}


.range-ml{
  max-width: 70px;
}
