---
---

.linkoz {
  margin: 4px;
  padding: 6px 6px 6px 7px;
  height: 30px;
}
.ulcontainer {
  //background: #0146d9;
  width:132px;
  border-radius:4px;
  border: none;
  padding: 2px 0px 6px 1px;
}
.lioz {
  list-style: square;
    width:132px;
	margin-bottom: 2px;
	line-height: 1em;
    background: #0146d9;
    border: none;
    box-shadow: none;
}
.lioz:hover {
    background: #0146d9;
    border: none;
}
.buttonsoz { -webkit-font-smoothing: antialiased; font-weight: normal; text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0; padding: 2px 2px 2px 22px; height: 30px; }
@import "{{ site.theme }}";